.first-section {
display: flex;

justify-content: space-between;
}
.first-section-info {
   
    margin-left: 15px;
}
.genres {


}
.genre {
    background-color: red;
    border-radius: 2px;
    padding: 2px;
    font-size: 10px;
    margin-right: 5px;
}
.container-img {
    height: 33vh;
    border-radius: 10px;
}


