.container_buttons {
    /* background-color: aqua; */
    display: flex;
    justify-content: center;

    margin-top: 20px;
}

.container_buttons button {
    background-color: transparent;
    color: black;

   
    cursor: pointer;
    transition: transform 0.1s ease, background-color 0.1s ease;
}

.btn1:hover, .btn2:hover , .btn1:active, .btn2:active {
    background-color:rgba(34,193,195,1)

}

.btn1 {
    border-radius: 5px 0 0 5px;
    border: none;
    border-color: transparent;

}

.btn2 {
    border-radius: 0 5px 5px 0;
    border: none;
    border-color: transparent;
}
.btn1 {


    transform: scale(1.1); /* Incrementa el tamaño un 10% */
}

.btn2:active {
    background-color: #47d70b;
    transform: scale(1.1); /* Incrementa el tamaño un 10% */
}

.btn-primary {
    background-color: none;
}
