.container_buttons {
    /* background-color: aqua; */
    display: flex;
justify-content:center;

    margin-top: 20px;
}


.container_buttons button {
    background-color: #73bf8c00;
    color: black;
    border: none;
    --bs-btn-active-bg: #efbc37;
    --bs-btn-active-border-color: #efbc37;

    --bs-btn-hover-border-color: #73bf8c;
    --bs-btn-hover-bg: #73bf8c;

    --bs-btn-disabled-bg: #ffffff;
    --bs-btn-disabled-border-color: #ffffff;
}

.btn1, .btn2 {

    color: white;
    font-size: 20px;
    padding: 10px 20px;
    margin: 0 10px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    --bs-btn-bg: #73bf8c;
    transition: 0.3s;
}

.btn1 {

    transform: scale(1);


}

.btn2 {
    transform: scale(1);

  
}

.btn1:active {
    transform: scale(1.1); 
}

.btn2:active {

    transform: scale(1.1); /* Incrementa el tamaño un 10% */
}





